a:visited {
  color: purple;
}

a:hover, a:active,a:focus {
   color: lightgray;
}

* {
  font-family: monospace;
}

* {
  font-size: 21px;
}

main {
  background: papayawhip;
}

* {
 color: black;
}

main {
  text-transform: uppercase;
}

* {
  text-align: justify;
}
